@model Libreria.Models.CopiaLIbro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CopiaLIbro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Libro.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Libro.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locacion.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locacion.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identificador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identificador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoGeneral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoGeneral)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
