@model IEnumerable<Libreria.Models.Prestamo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CopiaLIbro.Identificador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miembro.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRetorno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDePrestamo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CopiaLIbro.Identificador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miembro.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRetorno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDePrestamo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentarios)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
