@model Libreria.Models.Libro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Autor.Isbn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor.Isbn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Cat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Cat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publicador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publicador)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
